{% extends 'base.html.twig' %}

{% block title %}Drug{% endblock %}

{% block body %}
    <h1>Drug</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ drug.id }}</td>
            </tr>
            <tr>
                <th>Manufacturer</th>
                <td>{{ drug.manufacturer }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ drug.name }}</td>
            </tr>
            <tr>
                <th>BatchNumber</th>
                <td>{{ drug.batchNumber }}</td>
            </tr>
            <tr>
                <th>AddedAt</th>
                <td>{{ drug.addedAt ? drug.addedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ExpiryDate</th>
                <td>{{ drug.expiryDate ? drug.expiryDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ drug.quantity }}</td>
            </tr>
            <tr>
                <th>PricePerUnit</th>
                <td>{{ drug.pricePerUnit }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('drug_index') }}">back to list</a>

    <a href="{{ path('drug_edit', {'id': drug.id}) }}">edit</a>

    {{ include('drug/_delete_form.html.twig') }}
{% endblock %}
