{% extends 'base.html.twig' %}

{% block title %}Employee index{% endblock %}

{% block body %}
    <h1>Employee index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Address</th>
                <th>PostalCode</th>
                <th>RecruitedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.gender }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.address }}</td>
                <td>{{ employee.postalCode }}</td>
                <td>{{ employee.recruitedAt ? employee.recruitedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('employee_show', {'id': employee.id}) }}">show</a>
                    <a href="{{ path('employee_edit', {'id': employee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('employee_new') }}">Create new</a>
{% endblock %}
